@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 100%; }

em {
  font-style: italic;
  font-family: helvetica;
  font-weight: 100; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .container:after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden; }

.overlay {
  background-color: rgba(1, 64, 103, 0.8);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: fixed;
  z-index: 100;
  display: none; }
  .overlay .modal {
    width: 50%;
    height: 250px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: -300px;
    position: absolute;
    background-color: #2980b9;
    color: #fff;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 0.3s cubic-bezier(0.94, -0.415, 0.085, 1.575);
    -o-transition: all 0.3s cubic-bezier(0.94, -0.415, 0.085, 1.575);
    -webkit-transition: all 0.3s cubic-bezier(0.94, -0.415, 0.085, 1.575);
    transition: all 0.3s cubic-bezier(0.94, -0.415, 0.085, 1.575); }
    .overlay .modal h3 {
      font-size: 3em;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 50px; }
      .overlay .modal h3 i {
        display: block; }
      .overlay .modal h3 span {
        line-height: 2;
        display: block;
        font-size: .3em;
        font-weight: 400;
        color: #fafafa; }
  .overlay.active .modal {
    margin-top: 100px; }

header {
  padding: 3.5em 10%;
  background-color: #2980b9;
  text-align: center;
  color: #fafafa;
  margin-bottom: 30px;
  -moz-box-shadow: 0 5px 0 #07598b;
  -webkit-box-shadow: 0 5px 0 #07598b;
  box-shadow: 0 5px 0 #07598b; }
  header i {
    font-size: 13em;
    color: rgba(0, 0, 0, 0.04);
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 1%;
    z-index: 1; }
  header article {
    z-index: 10;
    position: relative; }
    header article h1 {
      font-size: 3.4em;
      margin-bottom: 5px; }
    header article p {
      color: #B0FFB0;
      margin-bottom: 5px; }
    header article .share {
      color: rgba(0, 0, 0, 0.4); }
      header article .share a {
        color: #00D3FF;
        font-size: 14px;
        text-decoration: none;
        -moz-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s; }
        header article .share a:hover {
          color: #66e5ff; }
      header article .share span {
        vertical-align: 4px; }

div.col {
  width: 33.33333333333333%;
  float: left;
  padding: 0 10px; }
  @media (max-width: 820px) {
    div.col {
      width: 100%; } }
  div.col ul {
    margin-bottom: 30px; }
  div.col p {
    color: #777;
    margin: 8px 0 10px 0;
    line-height: 1.1;
    font-size: 14px; }
  div.col pre {
    background-color: #FFFDE8;
    border: 1px solid #C9C6A6;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-bottom: 2px; }
    div.col pre code {
      font-family: "Courier New", Courier, monospace;
      font-family: 'Inconsolata', Courier, monospace;
      font-size: 16px;
      color: #397F9B;
      white-space: normal;
      word-break: break-all;
      font-weight: 700; }
      div.col pre code:first-letter {
        color: rgba(0, 0, 0, 0.4); }
    div.col pre.zeroclipboard-is-hover {
      background-color: #AEF3DB;
      border-color: #9CE0C9; }
      div.col pre.zeroclipboard-is-hover code {
        color: #245163; }

.section-title {
  background-color: #2980b9;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px; }
  .section-title i {
    font-weight: normal;
    margin-right: 6px; }
