//Animation mixin
@mixin animateMe($name, $speed, $delay:0s, $duration:infinite,  $ease:linear){
    -webkit-animation: $name $speed $delay $duration $ease;
    -moz-animation: $name $speed $delay $duration $ease;
    -ms-animation: $name $speed $delay $duration $ease;
    -o-animation: $name $speed $delay $duration $ease;
    animation: $name $speed $delay $duration $ease;
}

/* CSS3 Animations */  
/* ---------------------------------------- */ 

//Dash animation Reversed
@-webkit-keyframes dashR{
    from {
    stroke-dashoffset: -100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dashR{
    from {
    stroke-dashoffset: -100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dashR{
    from {
    stroke-dashoffset: -100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dashR{
     from {
    stroke-dashoffset: -100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

//Dash animation
@-webkit-keyframes dash{
    from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash{
    from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash{
    from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash{
     from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

//rotate animation
@-webkit-keyframes rotate{
    0%{
    	-webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate{
    0%{
    	-moz-transform: rotate(0deg);
    }
    100%{
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes rotate{
    0%{
    	-o-transform: rotate(0deg);
    }
    100%{
        -o-transform: rotate(360deg);
    }
}
@keyframes rotate{
     0%{
    	transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

//rotate reverse animation
@-webkit-keyframes rotate-rev{
    0%{
    	-webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(-360deg);
    }
}
@-moz-keyframes rotate-rev{
    0%{
    	-moz-transform: rotate(0deg);
    }
    100%{
      -moz-transform: rotate(-360deg);
    }
}
@-o-keyframes rotate-rev{
    0%{
    	-o-transform: rotate(0deg);
    }
    100%{
        -o-transform: rotate(-360deg);
    }
}
@keyframes rotate-rev{
     0%{
    	transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

//pulse animation 
@-webkit-keyframes pulse{
	50%{
		fill: $brand;
	}
}
@-moz-keyframes pulse{
	50%{
		fill: $brand;
	}
}
@-o-keyframes pulse{
	50%{
		fill: $brand;
	}
}
@keyframes pulse{
	50%{
		fill: $brand;
	}
}

//timeline aniamtion

@-webkit-keyframes timeline{
  0%{
    -webkit-transform:translateX(0px);
  }
  100%{
    -webkit-transform:translateX(36px);
  }
}
@-moz-keyframes timeline{
  0%{
    -moz-transform:translateX(0px);
  }
  100%{
    -moz-transform:translateX(36px);
  }
}
@-o-keyframes timeline{
  0%{
    -o-transform:translateX(0px);
  }
  100%{
    -o-transform:translateX(36px);
  }
}
@keyframes timeline{
  0%{
    transform:translateX(0px);
  }
  100%{
    transform:translateX(36px);
  }
}