/* Colors */	
/* ---------------------------------------- */ 
//grays
$offWhite: 			#fafafa;
$gray: 				#676B70;
$grayLight: 		#979DA2;

//colors
$midnightBlue: 		#384047;
$wetAsphalt: 		#34495E;
$asphalt: 	 		#252B30;
$greenSea: 			#16A085;
$brand: 			#1EE6BC;

//logo Colors
$wp: 				#30A2D4;
$codekit: 			#EB832B;
$js: 				#FFDA45;
$sass: 				#E76FAA;
$html5: 			#F15D2B;
$css3: 				#318ADC;
$git: 				#999;
$jquery: 			#0E81C1;
$sketch: 			#F3A04D;
$ps: 				#484DFF;