@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

*{
	@include box-sizing(border-box);
}
@mixin clearfix(){
	&:after{
		content: '';
		height: 0;
		line-height: 0;
		display: block;
		clear: both;
		visibility: hidden;
	}
}

body{
	background-color: #fafafa;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 100%;
}
em{
	font-style: italic;
	font-family: helvetica;
	font-weight: 100;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	@include clearfix();
}
.overlay{
	background-color:rgba(1,64,103,.8);
	left:0; top:0; right:0; bottom:0; 
	margin: auto;
	position: fixed;
	z-index: 100;
	display:none;
	.modal{
		width: 50%;
		height: 250px;
		left:0; top:0; right:0; bottom:0; 
		margin: auto;
		margin-top:-300px;
		position:absolute;
		background-color: #2980b9;
		color: #fff;
		text-align: center;
		@include border-radius(5px);
		@include transition(all .3s cubic-bezier(0.940, -0.415, 0.085, 1.575));
		h3{
			i{
				display: block;
			}
			font-size: 3em;
			font-weight: 700;
			color: rgba(0,0,0,.5);
			margin-top: 50px;
			span{
				line-height: 2;
				display: block;
				font-size: .3em;
				font-weight: 400;
				color: #fafafa;
			}
		}
	}
	&.active{
		.modal{
			margin-top: 100px;
		}
	}
}
header{
	padding: 3.5em 10%;
	background-color: #2980b9;
	text-align: center;
	color: #fafafa;
	margin-bottom: 30px;
	@include box-shadow(0 5px 0 rgba(7,89,139,1));
	i{
		font-size: 10em;
		color: rgba(0,0,0,.03);
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
		top: 1%;

	}
	h1{
		font-size: 3.4em;
		margin-bottom: 5px;
	}
	p{
		color: rgba(0,0,0,.4);
	}
}

div.col{
	width: 33.33333333333333%;
	float: left;
	padding: 0 10px;
	@media (max-width: 820px) {
		width: 100%;
	}
	ul{
		margin-bottom: 30px;
	}
	p{
		color: #777;
		margin: 8px 0 10px 0;
		line-height: 1.1;
		font-size: 14px;
	}
	pre{
		background-color: #FFFDE8;
		border:1px solid #C9C6A6;
		padding: 10px;
		@include border-radius(3px);
		@include transition(all, .3s);
		margin-bottom: 2px;
		code{
			font-family: "Courier New", Courier, monospace;
			font-family: 'Inconsolata', Courier, monospace;
			font-size: 16px;
			color: #397F9B;	
			white-space: normal;
			word-break: break-all;
			font-weight: 700;
			&:first-letter{
				color: rgba(0,0,0,.4);
			}
		}
		&.hover{
			background-color: darken(#FFFDE8, 6%);
		}
	}
}
.section-title{
	background-color: #2980b9;
	padding: 12px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 15px;
	i{
		font-weight: normal;
		margin-right: 6px;
	}
}
